---
development:
  DEVRANK_API: 'http://localhost:9292/api/v0.1'
  SECRET: 'some secret'

test:
  DEVRANK_API: 'http://localhost:3000/api/v0.1'
  SECRET: 'some secret'

production:
  DEVRANK_API: 'https://my-server.com/api/v0.1'
  SECRET: 'some secret'
